# Introduction

In [ ]:
# Imports
import pandas as pd
import requests
import time
import json
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [ ]:
# The main function that executes the API request. Json is stored in a dataframe and filtered for patch 7.33
def get_league_data(tournament_id):
    r = requests.get(f'https://api.opendota.com/api/leagues/{tournament_id}/matches')
    matches = r.json()
    df = pd.DataFrame.from_dict(matches)
    df = df.query('start_time > 1682035200')
    return df

In [ ]:
# A function connecting dataframes
def concat (df_1, df_2):
    frames = [df_1, df_2]
    df_con = pd.concat(frames)
    return df_con

# Majors

tournament_id = 15251

league_name = berlin_major

In [ ]:
df_berlin_major = get_league_data(15251)
df_berlin_major.shape

(191, 39)

tournament_id = 15438

league_name = bali_major

In [ ]:
df_bali_major = get_league_data(15438)
df_bali_major.shape

(146, 39)

# DPC Summer Tour - Closed Qualiriers

In [ ]:
# DPC 2023 NA Summer Tour Closed Qualifiers
df_na_cq = get_league_data(15348)
df_na_cq.shape

(25, 39)

In [ ]:
# DPC 2023 SA Summer Tour Closed Qualifiers
df_sa_cq = get_league_data(15364)
df_sa_cq.shape

(30, 39)

In [ ]:
# DPC 2023 CN Summer Tour Closed Qualifiers
df_cn_cq = get_league_data(15385)
df_cn_cq.shape

(22, 39)

In [ ]:
# DPC 2023 CEA Summer Tour Closed Qualifiers
df_cea_cq = get_league_data(15377)
df_cea_cq.shape

(32, 39)

In [ ]:
# DPC 2023 WEU Summer Tour Closed Qualifiers
df_weu_cq = get_league_data(15349)
df_weu_cq.shape

(26, 39)

In [ ]:
# DPC 2023 EEU Summer Tour Closed Qualifiers
df_eeu_cq = get_league_data(15334)
df_eeu_cq.shape

(29, 39)

# DPC Summer Tour - Division I

In [ ]:
# DPC 2023 SA Summer Tour Division I
df_ca_div_i = get_league_data(15365)
df_ca_div_i.shape

(65, 39)

In [ ]:
# DPC 2023 CEA Summer Tour Division I
df_cea_div_i = get_league_data(15374)
df_cea_div_i.shape

(71, 39)

In [ ]:
# DPC 2023 WEU Summer Tour Division I
df_weu_div_i = get_league_data(15351)
df_weu_div_i.shape

(73, 39)

In [ ]:
# DPC 2023 EEU Summer Tour Division I
df_eeu_div_i = get_league_data(15335)
df_eeu_div_i.shape

(73, 39)

In [ ]:
# DPC 2023 NA Summer Tour Division I
df_na_div_i = get_league_data(15350)
df_na_div_i.shape

(72, 39)

In [ ]:
# DPC 2023 CN Summer Tour Division I
df_cn_div_i = get_league_data(15383)
df_cn_div_i.shape

(73, 39)

# DPC Summer Tour - Division II

In [ ]:
# DPC 2023 SA Summer Tour Division II
df_ca_div_ii = get_league_data(15366)
df_ca_div_ii.shape

(67, 39)

In [ ]:
# DPC 2023 CEA Summer Tour Division II
df_cea_div_ii = get_league_data(15375)
df_cea_div_ii.shape

(72, 39)

In [ ]:
# DPC 2023 WEU Summer Tour Division II
df_weu_div_ii = get_league_data(15352)
df_weu_div_ii.shape

(74, 39)

In [ ]:
# DPC 2023 EEU Summer Tour Division II
df_eeu_div_ii = get_league_data(15336)
df_eeu_div_ii.shape

(64, 39)

In [ ]:
# DPC 2023 NA Summer Tour Division II
df_na_div_ii = get_league_data(15353)
df_na_div_ii.shape

(73, 39)

In [ ]:
# DPC 2023 CN Summer Tour Division II
df_cn_div_ii = get_league_data(15384)
df_cn_div_ii.shape

(72, 39)

# Concat DPC Matches

In [ ]:
frames = [df_cn_cq, df_cea_cq, df_weu_cq, df_eeu_cq, df_sa_cq, df_na_cq]
df_summer_tour_cq = pd.concat(frames)
df_summer_tour_cq.shape

(164, 39)

In [ ]:
frames = [df_weu_div_i, df_ca_div_i, df_cea_div_i, df_eeu_div_i, df_na_div_i, df_cn_div_i]
df_summer_tour_div_i = pd.concat(frames)
df_summer_tour_div_i.shape

(427, 39)

In [ ]:
frames = [df_weu_div_ii, df_ca_div_ii, df_cea_div_ii, df_eeu_div_ii, df_na_div_ii, df_cn_div_ii]
df_summer_tour_div_ii = pd.concat(frames)
df_summer_tour_div_ii.shape

(422, 39)

In [ ]:
frames = [df_berlin_major, df_summer_tour_div_i, df_summer_tour_div_ii, df_summer_tour_cq, df_bali_major]
df_dpc = pd.concat(frames)
df_dpc.shape

(1350, 39)

# Professionals leagues

In [ ]:
# Ancients Leaguee
df_ancients_leaguee = get_league_data(15109)
df_ancients_leaguee.shape

(716, 39)

In [ ]:
# Destiny League
df_destiny_league = get_league_data(15026)
df_destiny_league.shape

(606, 39)

In [ ]:
# Space League
df_space_league = get_league_data(15257)
df_space_league.shape

(500, 39)

In [ ]:
# European pro league 2022-2023 season
df_european_pro_league = get_league_data(14691)
df_european_pro_league.shape

(198, 39)

In [ ]:
# Sow Cup
df_sow_cup = get_league_data(15382)
df_sow_cup.shape

(103, 39)

In [ ]:
# Ultras dota pro league
df_ultras_dota_pro_league = get_league_data(14915)
df_ultras_dota_pro_league.shape

(989, 39)

In [ ]:
# Winline insight dota2 season 3
df_winline_insight_season_3 = get_league_data(15344)
df_winline_insight_season_3.shape

(60, 39)

In [ ]:
# Esportsbattle sc8
df_esportsbattle_sc8 = get_league_data(15310)
df_esportsbattle_sc8.shape

(59, 39)

In [ ]:
# Esportsbattle sc7
df_esportsbattle_sc7 = get_league_data(15309)
df_esportsbattle_sc7.shape

(100, 39)

In [ ]:
# Titan league
df_titan_league = get_league_data(15325)
df_titan_league.shape

(63, 39)

In [ ]:
# Pinnacle cup malta vibes 2
df_pinnacle_cup_malta_vibes_2 = get_league_data(15286)
df_pinnacle_cup_malta_vibes_2.shape

(85, 39)

In [ ]:
# Tdl pro series summer season
df_tdl_pro_series_summer_season = get_league_data(15213)
df_tdl_pro_series_summer_season.shape

(82, 39)

In [ ]:
# Tdl sea-pro series summer season
df_tdl_sea_pro_series_summer_season = get_league_data(15368)
df_tdl_sea_pro_series_summer_season.shape

(37, 39)

In [ ]:
# 1xplore series latam 4
df_1xplore_series_latam_4 = get_league_data(15269)
df_1xplore_series_latam_4.shape

(41, 39)

In [ ]:
# Youtube sivvit big russian show
df_sivvit = get_league_data(12903)
df_sivvit.shape

(122, 39)

In [ ]:
# Esportsbattle dota2 smc2
df_esportsbattle_dota2_smc2 = get_league_data(15427)
df_esportsbattle_dota2_smc2.shape

(105, 39)

In [ ]:
# Esportsbattle dota2 smc1
df_esportsbattle_dota2_smc1 = get_league_data(15426)
df_esportsbattle_dota2_smc1.shape

(60, 39)

In [ ]:
# Dreamleague season 20
df_dreamleague_season_20 = get_league_data(15439)
df_dreamleague_season_20.shape

(198, 39)

In [ ]:
# Epl world series america 2022-2023 season
df_epl_world_series_america_2022_2023_season = get_league_data(14783)
df_epl_world_series_america_2022_2023_season.shape

(47, 39)

In [ ]:
# Riyadh masters 2023 by gamers8
df_riyadh_masters_2023_by_gamers8 = get_league_data(15475)
df_riyadh_masters_2023_by_gamers8.shape

(16, 39)

In [ ]:
# Esportsbattle dota2 smc3
df_esportsbattle_dota2_smc3 = get_league_data(15428)
df_esportsbattle_dota2_smc3.shape

(87, 39)

In [ ]:
# 1xplore series asia 1
df_1xplore_series_asia_1 = get_league_data(15470)
df_1xplore_series_asia_1.shape

(15, 39)

In [ ]:
# vk play
df_vk_play = get_league_data(15537)
df_vk_play.shape

(4, 39)

In [ ]:
frames = [df_ancients_leaguee,
          df_destiny_league,
          df_space_league,
          df_european_pro_league,
          df_sow_cup,
          df_ultras_dota_pro_league,
          df_winline_insight_season_3,
          df_esportsbattle_sc8,
          df_titan_league,
          df_esportsbattle_sc7,
          df_pinnacle_cup_malta_vibes_2,
          df_tdl_pro_series_summer_season,
          df_tdl_sea_pro_series_summer_season,
          df_1xplore_series_latam_4,
          df_sivvit,
          df_esportsbattle_dota2_smc2,
          df_esportsbattle_dota2_smc1,
          df_dreamleague_season_20,
          df_epl_world_series_america_2022_2023_season,
          df_riyadh_masters_2023_by_gamers8,
          df_esportsbattle_dota2_smc3,
          df_1xplore_series_asia_1,
          df_vk_play]
df_professional_league = pd.concat(frames)
df_professional_league.shape

(4293, 39)

# Final merge

In [ ]:
df_pro_match.shape

In [ ]:
df_professional_league.shape

In [ ]:
frames = [df_pro_match, df_professional_league]
df_pro_match = pd.concat(frames)

In [ ]:
df_pro_match.dropna(subset=['picks_bans'], inplace=True)

In [ ]:
df_pro_match.shape

In [ ]:
df_pro_match.sort_values(by = 'duration', ascending=False)

In [ ]:
df_new = pd.DataFrame(columns=["match_id", "is_pick", "hero_id", "team", "order"])

In [ ]:
""" Переделать, чтобы ускорить """
for index, row in df_pro_match.iterrows():
  match_id = row["match_id"]

  # Чтение массива pick_bans текущей строки
  pick_bans_arr = row["picks_bans"]

  # Итерация по элементам массива pick_bans
  for pick_ban in pick_bans_arr:

      is_pick = pick_ban["is_pick"]
      hero_id = pick_ban["hero_id"]
      team = pick_ban["team"]
      order = pick_ban["order"]

      # Добавление новой строки в датафрейм
      df_new = df_new.append({"match_id": match_id,
                              "is_pick": is_pick,
                              "hero_id": hero_id,
                              "team": team,
                              "order": order},
                              ignore_index=True)

In [ ]:
df_pro_match_picks_bans = df_new

In [ ]:
df_pro_match_picks_bans.head(5)

In [ ]:
df_pro_match_picks = df_pro_match_picks_bans.query('is_pick==True')

In [ ]:
df_grouped = df_pro_match_picks.groupby(['match_id', 'team'])['hero_id'].apply(lambda x: ','.join(x.astype(str)))

In [ ]:
df_grouped = df_grouped.reset_index()

In [ ]:
df_grouped

In [ ]:
df_grouped_dire_team = df_grouped.query('team == 1').rename({'hero_id': 'dire_team'}, axis=1)
df_grouped_radiant_team = df_grouped.query('team == 0').rename({'hero_id': 'radiant_team'}, axis=1)

In [ ]:
df_grouped_dire_team = df_grouped_dire_team[['match_id', 'dire_team']]
df_grouped_radiant_team = df_grouped_radiant_team[['match_id', 'radiant_team']]

In [ ]:
df_pro_match = df_pro_match.merge(df_grouped_dire_team, how='left', on='match_id')
df_pro_match = df_pro_match.merge(df_grouped_radiant_team, how='left', on='match_id')

In [ ]:
df_pro_match.shape

In [ ]:
df_pro_match = df_pro_match[['match_id', 'radiant_win', 'duration','radiant_team','dire_team']]
df_pro_match.shape

In [ ]:
df_full = df_pub_match[['match_id', 'radiant_win', 'duration', 'radiant_team', 'dire_team']]
frames = [df_full, df_pro_match]
df_full = pd.concat(frames)
df_full.shape

In [ ]:
df_full_matches = df_full

In [ ]:
# Путь к файлу
filepath_full = Path('/content/drive/MyDrive/df_pred.csv')

In [ ]:
# Сохранение
filepath_full.parent.mkdir(parents=True, exist_ok=True)
df_full_matches.to_csv(filepath_full, index=False)

# Tests

In [ ]:
df_pro_match = df_professional_league

In [ ]:
for index, row in df_pro_match.iterrows():
    match_id = row["match_id"]
    pick_bans_arr = row["picks_bans"]

for pick_ban in pick_bans_arr:
    is_pick = pick_ban["is_pick"]
    hero_id = pick_ban["hero_id"]
    team = pick_ban["team"]
    order = pick_ban["order"]

    data.append({"match_id": match_id,
                  "is_pick": is_pick,
                  "hero_id": hero_id,
                  "team": team,
                  "order": order})

# Если df_new изначально пуст, можно просто заменить на:
df_new = pd.DataFrame(data)

In [ ]:
df_new.shape

(50010, 5)

In [ ]:
df_pro_match_picks_bans = df_new

In [ ]:
df_pro_match_picks_bans.head(5)

     match_id  is_pick  hero_id  team  order
0  7223492809    False       45     0      0
1  7223492809    False       10     1      1
2  7223492809    False       71     0      2
3  7223492809    False       92     1      3
4  7223492809     True      105     0      4

In [ ]:
df_pro_match_picks = df_pro_match_picks_bans.query('is_pick==True')

In [ ]:
df_grouped = df_pro_match_picks.groupby(['match_id', 'team'])['hero_id'].apply(lambda x: ','.join(x.astype(str)))

In [ ]:
df_grouped = df_grouped.reset_index()

In [ ]:
df_grouped

        match_id  team          hero_id
0     7116656225     0  101,104,8,9,126
1     7116656225     1  19,64,128,21,56
2     7116708252     0    138,86,31,2,9
3     7116708252     1   26,38,51,54,52
4     7116766639     0  138,100,18,5,22
...          ...   ...              ...
4159  7226310299     1     5,79,71,7,10
4160  7226332572     0   88,64,97,44,11
4161  7226332572     1  61,105,62,45,63
4162  7226344784     0   85,45,98,109,7
4163  7226344784     1   73,1,26,97,106

[4164 rows x 3 columns]

In [ ]:
df_grouped_dire_team = df_grouped.query('team == 1').rename({'hero_id': 'dire_team'}, axis=1)
df_grouped_radiant_team = df_grouped.query('team == 0').rename({'hero_id': 'radiant_team'}, axis=1)

In [ ]:
df_grouped_dire_team = df_grouped_dire_team[['match_id', 'dire_team']]
df_grouped_radiant_team = df_grouped_radiant_team[['match_id', 'radiant_team']]

In [ ]:
df_pro_match = df_pro_match.merge(df_grouped_dire_team, how='left', on='match_id')
df_pro_match = df_pro_match.merge(df_grouped_radiant_team, how='left', on='match_id')

In [ ]:
df_pro_match[['match_id', 'dire_team']]

        match_id                                          dire_team
0     7226332572                                    61,105,62,45,63
1     7226296750                                  69,128,111,114,22
2     7226259291                                 77,123,121,137,135
3     7226234308                                     123,50,7,1,104
4     7226198293                                   101,30,81,102,98
...          ...                                                ...
4288  7213711359                                                NaN
4289  7223801616                                                NaN
4290  7223655960                                                NaN
4291  7223560749                                                NaN
4292  7223492809  91,38,101,104,70,91,38,101,104,70,91,38,101,10...

[4293 rows x 2 columns]